@import 'normalize.css/normalize.css';

html {
  font-size: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}